:root {
  --nav-background: #000000;
  --nav-text: #f6f6f6;
  --main-aside-background: #262626;
  --main-aside-text: #ffffff;
}

* {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  /* width: calc(100vw - 17px); */
  @media screen and (max-width: 520px) {
    width: 100vw;
  }
  height: fit-content !important;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(180deg, #454545 0%, #343434 100%);
  background-repeat: no-repeat;
  height: fit-content !important;
}
